
html, body {
  margin: 0;
  height: 100%;
  display: relative;
  overflow: hidden;
  color: #f5f5f5;
}

.container {
  text-align: center;
  height: 100%;
}
.hidden {
  display: none !important;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#login-form input[type="text"]{
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 1.5em;
  height: 5%;
  text-align: center;
}
#login-form input[type="text"]::placeholder {
  color: #f5f5f5;
  font-size: 1em;
}
#login-form input[type="submit"]{
  display: block;
  border:none;    
  font-size:1.3em ;
  background-color: transparent;
  color: #f5f5f5;
  height:5%; 
  margin-top: 5%;
}

main {
  padding-top: 30%;
  height: 100%;
  /* position: relative; */
}
main h1 {
  font-size: 3em;
}
main aside {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
}
main #todo-form input{
  border: none;
  outline: none;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 1.1em;
  height: 5%;
  width: 50%;
  text-align: center;
}
main #todo-form input::placeholder {
  color: #f5f5f5;
  font-size: 1em;
}
main #todo-list {
  list-style: none;
}
main #todo-list li{
  height: 1.4em;
}
main #todo-list li button{
  background-color: transparent;
  border: none;
  margin-left: 0.3em;
}
main #quote {
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
}
